<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
      <th></h>
    </tr>
  </thead>
  <tbody>
  <TMPL_LOOP NAME="USERS">
    <tr>
        <td><TMPL_VAR NAME="USER_ID"></td>
        <td><TMPL_VAR NAME="USER_NAME"></td>
        <td><TMPL_VAR NAME="USER_FORENAME"></td>
        <td><TMPL_VAR NAME="USER_NICKNAME"></td>
        <td>        
          <div class="btn-group">
            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user icon-white"></i>Bearbeiten</a>
            <ul class="dropdown-menu">
              <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
              <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
              <li><a href="#"><i class="icon-ban-circle"></i> Ban</a></li>
              <li class="divider"></li>
              <li><a href="#"><i class="i"></i> Make admin</a></li>
            </ul>
          </div>
        </td>
      </tr>
  </TMPL_LOOP>
  </tbody>
</table>