<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">PMS - Perl Messaging System</a>
      <div class="nav-collapse">
      </div>
    </div>
  </div>
</div>

<div class="container" color="black">
  <section>
    <div class="span4 offset4">
      <TMPL_IF NAME="HAS_ERROR">
        <span class="label label-important"><TMPL_VAR NAME="ERROR"></span>
      </TMPL_IF>
      
      <form class="well">
        <input type="text" class="input-medium" placeholder="Username" name="user"/>
        <input type="password" class="input-medium" placeholder="Password" name="password"/>
        <button type="submit" class="btn btn-small btn-primary">Sign in</button>
      </form>
    </div>
  </div>
</div>
